#.dockerignore
.idea
.git
.github
.dockerignore
.gitignore
*.yml
Dockerfile*
Makefile
README.md
test
@tmp
**/.env
**/.env*

**/data
**/.nuxt
**/.output
**/.nitro
**/.cache
**/dist
**/node_modules


Dockerfile
*.env*
*.pem
*.crt
*.key
