# dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist
frontend/**/generated
consumers/**/generated

certs
acme

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
/@tmp

# Local env files
.env
.env.*
!.env.example
!.env.dev.example
!.env.prod.example
/.run/
/consumers/activities/php-calc-task/vendor/
